.topSection {
  padding: 2.5rem 0;

  &-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: $primary;
    position: relative;
    border-bottom: 2px solid $primary;
  }

  &-text {
    color: $font_gray
  }

  .newsArea {
    margin-bottom: 20px;
    color: $font_gray;

    &-date {
      margin-right: 1rem;

      @media screen and (max-width: 576px) {
        display: block;
      }
    }

    &-title {
      font-size: 1.1rem;
      color: $font_gray;
      text-decoration: underline;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }

  .newsLinkArea {
    text-align: right;

    &-link{
      padding: 0.7rem;
      background: #BD95E8;
      color: #ffffff;
      font-size: 1.1rem;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &-map {
    iframe {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 1rem 0;

    &-title{
      font-size: 2rem;
    }

    .newsLinkArea {

      &-link{
        padding: 0.5rem;
        font-size: .9rem;
      }
    }
  }
}